# https://api.slack.com/apps create app and pae API Token.
SLACK_API_TOKEN=REPLACEME
OPSGENIE_API_TOKEN=REPLACEME
JIRA_SERVER_URL=REPLACEME
JIRA_SERVER_USER=REPLACEME
JIRA_SERVER_CREDENTIALS=REPLACEME