name: Docker Build CI

on:
  push:
    branches:
      - '**'
    paths-ignore:
      - 'CHANGELOG.md'
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    # Skip build on technical commits (those with [skip ci])
    if: "!contains(github.event.head_commit.message, '[skip ci]')"

    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push docker image
        run: |
            echo "Building and pushing for master branch"
            make all